### Data Pre-processing Stage


  Pada notebook ini berisi tentang basic dalam data pre-processing

#### Why preprocessing ?
1. Data yang kita punya dalam dunia nyata biasanya:
    * Incomplete: lacking attribute values, lacking certain attributes of interest, or containing only aggregate data.
    * Noisy: mengandung error seperti missing values dan outliers.
    * Inconsistent: mengandung perbedaan dalam penulisan kolom.

# 1. Data Cleaning

*  Import library
Pada percobaan kali ini kita hanya membutuhkan 3 library yaitu pandas, numpy dan seaborn. Pandas berguna untuk mengimport datasetnya sedangkan numpy akan kita gunakan dalam mempreproses datanya.

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns




*   Import dataset

Mari kita pakai sebuah dataset sederhana untuk latihan.
Dataset "data.csv" mengandung informasi dimana apakah user akan membeli sebuah product atau tidak.
User mempunya fitur age,salary, dan negara tempat mereka tinggal.
Import datasetnya dengan download link dibawah:
Link Dataset: https://drive.google.com/file/d/1n0cdPoapQQilWy4EKWiyDgi4WXx-kZ7D/view?usp=sharing dan upload dataset ke dalam folder collab.

In [ ]:
dataset = pd.read_csv("Data.csv")


# Menampilkan shape dari data yg kita punya
print('dataset:', (str(dataset.shape)))

Dataset kita mengandung 15 rows dan 4 columns.
Itu artinya kita mempunyai 15 data dan 4 Kolom

In [ ]:
# print the dataset
dataset

In [ ]:
# Memisahkan antara fitur dan label

# Fitur
# iloc[rows,columns] (Slicing pada dataframe)
# Mengambil semua data dalam barisan.
# Mengambil kolom index ke-0 sampai ke-2
X = dataset.iloc[:,:3].values

# Label
# iloc[rows,columns] (Slicing pada dataframe)
# Mengambil semua data dalam barisan.
# Hanya Mengambil kolom index ke-3
Y = dataset.iloc[:,3].values

In [ ]:
# Print the X and Y
print ('Fitur (X):', X)
print ('\n-----------------------------------')
print ('\nLabel (Y): ',Y)



## Handle Missing Data

In [ ]:
dataset.isnull().sum()

Dengan menggunakan fungsi isnull().sum() kita dapat melihat jumlah data yg memiliki missing value dari tiap kolom yang ada.
Disini kita dapat melihat kalau terdapat 2 kolom yang memiliki masalah missing value, yaitu pada kolom 'Age' dan 'Salary'.

Untuk menangangi masalah missing value, kita bisa melakukan 2 hal. Pertama kita bisa menghapus datanya atau kita bisa mengisi nilai yang kosong itu menggunakan nilai mean/modus/median.

Pada percobaan kali ini kita akan menggunakan nilai Mean untuk mengisi missing value tersebut menggunakan bantuan Simple Imputer dari module sklearn

In [ ]:
from sklearn.impute import SimpleImputer

# SimpleImputer class mempunyai 2 parameter, yaitu :
#     missing_values : Missing value pada data kita, biasanya diisi dengan np.nan
#     strategy       : Strategi yang akan kita gunakan dalam menangani missing value (Mean/Modus/Median).
#                      Defaultnya parameter strategy 'mean'

imputer = SimpleImputer(missing_values = np.nan ,strategy = 'mean')


# Fit imputer kedalam data X untuk kolom Age (index ke-1) dan Salary (index ke-2).
imputer = imputer.fit(X[:,1:3])

#Replace missing value dengan mean pada kolom tersebut
X[:,1:3] = imputer.transform(X[:,1:3])

Dibawah ini kita bisa melihat bahwa tidak ada nilai 'Nan' pada data X

In [ ]:
print ('X: ', X)

* Mean Value of Age    = Sum of all age values /14   = 33.714285714285715
* Mean Value of Salary = Sum of all Salary value /14 = 54857.142857142855

## SMOTE

Imbalance Data (Ketidakseimbangan Kelas) adalah masalah yang cukup sering terjadi dimanifestasikan dalam deteksi penipuan, deteksi intrusi, deteksi aktivitas Mencurigakan untuk beberapa nama. Dalam konteks klasifikasi biner, kelas yang lebih jarang muncul disebut kelas minoritas, dan kelas yang lebih sering muncul disebut kelas mayoritas.

Langkah pertama membuat kumpulan data sampel

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.datasets import make_classification
from sklearn.metrics import classification_report
from sklearn import metrics

In [ ]:
X, y = make_classification(n_classes=2, class_sep=0.5,
weights=[0.05, 0.95], n_informative=2, n_redundant=0, flip_y=0,
n_features=2, n_clusters_per_class=1, n_samples=1000, random_state=10)

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
#Splitting sata menjadi data training dan data testing
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=4)

print ('Train set:', X_train.shape,  y_train.shape)
print ('Test set:', X_test.shape,  y_test.shape)

make_classification adalah fungsi yang cukup berguna untuk membuat beberapa data eksperimental untuk Anda. Parameter penting di sini adalah bobot yang memastikan 95% berasal dari satu kelas dan 5% dari kelas lainnya.![smote.png]()

Dapat dipahami bahwa kelas merah adalah kelas mayoritas dan kelas biru adalah kelas minoritas.

In [ ]:
sns.countplot(y)

jika kita plot count maka dapat dilihat lebih jelas adanya imbalance data di y atau label. Maka selanjutnya kita akan split data dan lihat hasil klasifikasinya dengan model Logistic Regression, ketika sebelum dan sesudah data label di masukan dalam model SMOTE.

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
from imblearn.over_sampling import SMOTE
sm = SMOTE(random_state=10)
X_res, y_res = sm.fit_resample(X_train, y_train)

In [ ]:
sns.countplot(y_res)

Perhatikan bahwa plotcount sekarang sudah sama antara kelas 0 dan 1.

## Redundency Data

Redudansi data adalah duplikasi atau penyimpanan data yang sama secara berulang dalam beberapa file, sehingga data yang sama di simpan di dalam lebih dari 1 lokasi. Redudansi menyebabkan masalah pada waktu memperbarui (update) data, serta dapat menghabiskan tempat penyimpanan data dan juga menimbulkan inkonsisten data, yang berarti dokumen yang sama mungkin mempunyai data yang berbeda. Akhirnya, Redundansi mengakibatkan data menjadi tidak konsisten. Penyimpanan dibeberapa tempat untuk data yang sama ini disebut sebagai redundansi dan mengakibatkan pemborosan ruang penyimpanan dan juga biaya untuk akses lebih tinggi.

Dapat dilihat contoh dibawah dimana kami akan membuat sebuah dataset yang sederhana:

In [ ]:
data = { 'Names':['Yusuf','Allafa','Abdiel','Ipin','Ibnu','Rifal','Haidar','Yusuf','Yusuf'],
         'Marks':[56,89,90,45,34,65,77,56,56],
         'City' :['Jakarta','Yogyakarta','Solo','Surabaya','Makasar','Malang','Yogyakarta','Jakarta','Jakarta']}

df = pd.DataFrame(data)
df

Dapat dilihat pada dataset kita bahwa baris 1 dan baris terakhir memiliki duplika data. Oleh karena itu cara mengatasinya dengan menghilangkan salah satu baris tersebut, dengan menggunakan fungsi pandas yaitu **drop_duplicates()**

In [ ]:
df.drop_duplicates(subset='Names', keep='first')

In [ ]:
df.drop_duplicates(subset='Names', keep='last')

In [ ]:
df.drop_duplicates(subset='Names', keep=False)

In [ ]:
df.drop_duplicates(subset='Names', keep=False, inplace=True)
df

# 2. Data Integration

Sejauh ini, kami telah memastikan untuk menghilangkan pengotor dalam data
dan membuatnya bersih. Sekarang, langkah selanjutnya adalah menggabungkan data dari berbagai sumber untuk mendapatkan struktur terpadu dengan informasi yang lebih bermakna dan berharga. Ini sebagian besar digunakan jika data dipisahkan ke dalam sumber yang berbeda. Untuk membuatnya sederhana, mari kita asumsikan kita memiliki data dalam format CSV di tempat yang berbeda, semuanya berbicara tentang skenario yang sama. Katakanlah kita memiliki beberapa data tentang seorang karyawan dalam database. Kami tidak dapat mengharapkan semua data tentang karyawan berada di tabel yang sama. Ada kemungkinan bahwa data pribadi karyawan akan ditempatkan di satu tabel, riwayat proyek karyawan akan berada di tabel kedua, detail waktu masuk dan waktu keluar karyawan akan berada di tabel lain, dan seterusnya. Jadi, jika kita ingin melakukan beberapa analisis tentang karyawan, kita perlu mendapatkan semua data karyawan di satu tempat yang sama. Proses menyatukan data di satu tempat ini disebut integrasi data. Untuk melakukan integrasi data, kita dapat menggabungkan beberapa panda DataFrames menggunakan fungsi **merge**.

Dalam latihan ini, kita akan menggabungkan rincian siswa dari dua dataset, yaitu student.csv dan marks.csv. Dataset siswa berisi kolom seperti jenis kelamin, ras/etnis, tingkat pendidikan orang tua, dan makan siang. Kumpulan data marks.csv berisi kolom seperti kursus persiapan ujian, skor matematika, skor membaca,dan skor menulis. Kolom Student_id adalah umum di antara dua kumpulan data. Ikuti langkah-langkah ini untuk menyelesaikan latihan ini:

Dapat di download datasetnya:


1.   Student: https://drive.google.com/file/d/1LqhvBTu43Vl_yxAdkv2n01eg4ZOdYRUp/view?usp=sharing
2.   
Mark : https://drive.google.com/file/d/1Lmrmp7t6Aco_a8yIF7m037N2EsV95I_g/view?usp=sharing

In [ ]:
# Input Dataset
dataset1 = "/content/Students.csv"
dataset2 = "/content/Mark.csv"

In [ ]:
# Define Dataset
df1 = pd.read_csv(dataset1, header = 0)

df2 = pd.read_csv(dataset2, header = 0)

In [ ]:
# Cek Dataset
df1.head()

In [ ]:
df2.head()

Dapat dilihat memiliki dua dataset yang berbeda, dan kami bisa anggap bahwa darikedua dataset tersebut diperoleh dari kedua divisi yang berbeda di sekolah. Oleh karena itu sekarang proses integrasi data adalah pelemburan antara kedua dataset tersebut untuk dapat menjadi satu dataset yang baru, denagn syarat kedua dataset terintegrasi melalui column student ID.

In [ ]:
# Integrasi Data
df = pd.merge(df1, df2, on = 'student ID')

Sesudah terjadi integrasi data, maka dapat dilihat pada dataset yang baru.

In [ ]:
df.head(10)

# 3. Data Transformation

### **Melanjutkan dari proses data cleaning.**

In [ ]:
dataset = pd.read_csv("Data.csv")


# Menampilkan shape dari data yg kita punya
print('dataset:', (str(dataset.shape)))
dataset

In [ ]:
# Memisahkan antara fitur dan label

# Fitur
# iloc[rows,columns] (Slicing pada dataframe)
# Mengambil semua data dalam barisan.
# Mengambil kolom index ke-0 sampai ke-2
X = dataset.iloc[:,:3].values

# Label
# iloc[rows,columns] (Slicing pada dataframe)
# Mengambil semua data dalam barisan.
# Hanya Mengambil kolom index ke-3
Y = dataset.iloc[:,3].values

In [ ]:
# Print the X and Y
print ('Fitur (X):', X)
print ('\n-----------------------------------')
print ('\nLabel (Y): ',Y)

In [ ]:
from sklearn.impute import SimpleImputer

# SimpleImputer class mempunyai 2 parameter, yaitu :
#     missing_values : Missing value pada data kita, biasanya diisi dengan np.nan
#     strategy       : Strategi yang akan kita gunakan dalam menangani missing value (Mean/Modus/Median).
#                      Defaultnya parameter strategy 'mean'

imputer = SimpleImputer(missing_values = np.nan ,strategy = 'mean')


# Fit imputer kedalam data X untuk kolom Age (index ke-1) dan Salary (index ke-2).
imputer = imputer.fit(X[:,1:3])

#Replace missing value dengan mean pada kolom tersebut
X[:,1:3] = imputer.transform(X[:,1:3])

## Encode the Categorical data

Categorical data biasanya memiliki tipe data string.
Beberapa algoritma dapat memproses categorical data yg berbentuka string secara langsung seperti decision tree.

Akan tetapi banyak machine learning algorithms tidak dapat memproses categorical data yg berbentuk string secara langsung. Mereka membutuhkan variabel yg berbentuk numeric.

Itu artinya categorical data harus dikonversi bentukanya kedalam numerical form.

Pada Dataset kita terdapat dua kolom categorical data

Yaitu kolom 'Country' dan 'Purchased'

#### Label Encoder:

    * Metode ini bisa digunakan untuk mentranform non-numerical labels kedalam bentuk numerical labels (or nominal
      categorical variables).
    * Numerical labels akan selalu ada diantara 0 sampai n_classes-1.
      Misalkan ada 3 kelas, berarti labelnya ada di 0, 1, dan 2.

In [ ]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
#Encode untuk data kategorikal pada kolom 'Country'
labelencoder_X = LabelEncoder()
X[:,0] = labelencoder_X.fit_transform(X[:,0])
X[:,0]

Sekarang categorical value untuk kolom 'Country' dirbah ke dalam bentuk kategorikal

| Country | Value |
|:--------|:------|
| China   |   0   |  
| India   |   1   |   
| Srilanka|   2   |

In [ ]:
X

Sekarang categorical value untuk kolom 'Purchased' dirubah ke dalam bentuk kategorikal

| Purchased| Value |
|:---------|:------|
| No       |   0   |  
| Yes      |    1  |

In [ ]:
#Encode untuk data kategorikal pada kolom 'Purchased'
labelencoder_Y = LabelEncoder()
Y = labelencoder_X.fit_transform(Y)
Y

## Scale your Features

Dalam sebuah dataset, biasanya nilai pada tiap fitur mempunyai range yg berbeda. Hal ini dapat menjadikan masalah untuk
beberapa model machine learning. Untuk itu kita harus melakukan scaling agar semua nilai pada fitur memiliki range yang sama. Tetapi
Pertama, Kita akan melihat hasil ketika proses scaling diabaikan dan langsung masuk ke pemodelan.

In [ ]:
from sklearn.preprocessing import StandardScaler

sc_X = StandardScaler()

# We need to fit and transform the training set
X = sc_X.fit_transform(X)

In [ ]:
X

sekarang dapat dilihat bahwa X tiap column akan di standarisasi sesuai range antara 0 dan 1.